.background {
  background-image: linear-gradient(to bottom, #ab2e09, #3b1d06);
  filter: invert(100%);
}
.aboutmebackground {
  background-image: linear-gradient(to top, #75071f, #01021c);
  filter: hue-rotate(230deg) invert(100%);
}
.portfoliobackground {
  background-image: linear-gradient(to right, #570387, #873803);
  filter: hue-rotate(130deg) invert(100%);
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.inverted {
  filter: invert(100%);
}

.invertedabme {
  filter: hue-rotate(-230deg) invert(100%);
}

.invertedpf {
  filter: hue-rotate(-130deg) invert(100%);
}
